.flex-box {
  display: flex;
}

.flex-box-column {
  display: flex;
  flex-direction: column;
}

.forgotPassword__container {
  justify-content: center;
  align-items: center;
  background-color: #f1f6fb;

  .forgotPassword__content {
    width: 45%;
    background-color: white;
    margin: 6rem;
    justify-content: center;
    padding: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    // box-shadow: 5px 10px 8px rgba (0, 0, 0, 0.75);
    box-shadow: 5px 10px 8px #888888;

    .forgotPassword__text__section {
      width: 80%;
      text-align: center;
      gap: 1rem;

      .forgotPassword__header {
        font-size: 20px;
        font-weight: 600;
        color: #020381;
        margin-bottom: 1rem;
      }

      .forgotPassword__footer {
        font-size: 12px;
        color: #898b9c;

        a {
          color: #020381;
        }
      }
    }
  }
}

.forgotPassword__info {
  gap: 1rem;

  p {
    font-size: 14px;
    font-weight: 400;
  }
}

.forgotPassword__info > div:nth-child(1) {
  font-size: 18px;
  font-weight: 600;
}

.forgotPassword__info > div:nth-child(2) > p {
  text-align: center;
  color: #898b9c;
}

.forgotPassword__email__form {
  gap: 1rem;

  .input__section {
    align-items: flex-start;
    gap: 0.5rem;

    label {
      font-size: 15px;
      font-weight: 600;
    }
  }

  button {
    width: 100%;
    padding: 0.7rem;
    background-color: #020381;
    color: white;
    border: 1px solid #020381;
  }

  .input__section > input {
    width: 100%;
    padding: 0.8rem;
    outline: none;
    border: 1px solid #d9dfe3;

    &:hover {
      border: 1px solid #020381;
    }
  }
}
