.flex-box {
  display: flex;
}

.flex-box-column {
  display: flex;
  flex-direction: column;
}

.resetPassword__container {
  justify-content: center;
  align-items: center;
  background-color: #f1f6fb;

  .resetPassword__content {
    width: 45%;
    background-color: white;
    margin: 6rem;
    justify-content: center;
    padding: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 5px 10px 8px #888888;

    .resetPassword__text__section {
      width: 80%;
      text-align: center;
      gap: 1rem;

      a {
        color: #020381;
      }

      .resetPassword__header {
        font-size: 30px;
        font-weight: 600;
        color: #020381;
      }

      div {
        font-size: 25px;
        font-weight: 400;
      }

      form {
        gap: 1rem;

        button {
          width: 100%;
          padding: 0.8rem;
          background-color: #020381;
          color: white;
          border: 1px solid #020381;
          cursor: pointer;
        }
      }
    }

    .resetPassword__footer {
      gap: 1rem;

      input {
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
        outline: none;
        border: 1px solid #d9dfe3;

        &:focus {
          border: 1px solid #020381;
          outline: none;
        }

        &::placeholder {
          color: #9ba3c2;
        }
      }
    }
  }
}
